######################
# Visual Studio Code #
######################
.vs/
.cache/

################
# GitLab Pages #
################
/public/

###############
# ImageCaster #
###############
/.imagecaster/
/build/
